/* Styles de base pour la page d'accueil */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1c1f26;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Conteneur principal */
.homepage-container {
    text-align: center;
    z-index: 1;
}

/* Bouton disque à gauche de l'écran */
.dj-disk-button {
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: bounce 2s infinite;
    transition: left 0.5s ease, transform 0.3s ease;
}

.dj-disk-button:hover {
    left: 10px; /* Déplace le disque vers la droite quand il est survolé */
    transform: translateY(-50%) scale(1.1) rotate(360deg); /* Agrandit légèrement le disque */
}

/* Disque externe */
.outer-disk {
    width: 150px;
    height: 150px;
    background-color: #61dafb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #282c34;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* Disque intermédiaire */
.middle-disk {
    width: 100px;
    height: 100px;
    background-color: #282c34;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #61dafb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Disque interne */
.inner-disk {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #282c34;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Animation pour donner un effet dynamique au bouton disque */
@keyframes bounce {
    0%, 100% {
        transform: translateY(-50%) scale(1);
    }
    50% {
        transform: translateY(-45%) scale(1.05);
    }
}

/* Style du header */
header h1 {
    font-size: 4rem;
    color: #61dafb;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

/* Style de la description */
.description p {
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1s forwards;
}

/* Animation pour le texte */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Style du bouton d'exploration */
.explore-button {
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out 2s forwards;
}

.explore-button button {
    background-color: #61dafb;
    color: #282c34;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.explore-button button:hover {
    background-color: #21a1f1;
    transform: scale(1.05);
}
